.woocommerce_page_bulk-product-category-mover-for-woocommerce-admin #wpwrap > #wpcontent {
    padding-left: 0;
}

.woocommerce_page_bulk-product-category-mover-for-woocommerce-admin #wpwrap > #wpcontent {
    padding-left: 0;
}
  
.bulkprodmov-gallery-container{
    display: flex;
    flex-wrap: wrap;
}

.bulkprodmov-product-card-container{
    flex: 25%;
    max-width: 25%;
    padding: 0px;
}

.bulkprodmov-product-image-container{
    flex: 10%;
    max-width: 10%;
    padding: 0px;
}

.bulkprodmov-product-card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 10px 0px;
    transition: all 0.01s ease-in-out; /* smooth transition */
}

.bulkprodmov-product-card-selected {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 20px 4px;
    transform: translateY(-4px); /* lifted floating effect */
}

.bulkprodmov-product-card-ribbon {
    transition: all 0.01s ease-in-out; /* smooth transition */
}

.bulkprodmov-product-card-ribbon-selected {
    transform: translateY(-4px); /* lifted floating effect */
}

.bulkprodmov-product-search-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bulkprodmov-product-search-footer-left{
    flex: 25%;
    max-width: 25%;
}

.bulkprodmov-product-search-footer-center{
    flex: 50%;
    max-width: 50%;
}

.bulkprodmov-product-search-footer-right{
    flex: 25%;
    max-width: 25%;
}

@media (max-width: 1300px){
    .bulkprodmov-product-card-container{
        flex: 33.33%;
        max-width: 33.33%;
    }
}

@media (max-width: 950px){
    .bulkprodmov-product-card-container{
        flex: 50%;
        max-width: 50%;
    }

    .bulkprodmov-product-search-footer-left{
        flex: 100%;
        max-width: 100%;
    }
    
    .bulkprodmov-product-search-footer-center{
        flex: 100%;
        max-width: 100%;
    }
    
    .bulkprodmov-product-search-footer-right{
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 600px){
    .bulkprodmov-product-card-container{
        flex: 100%;
        max-width: 100%;
    }
}

.bulkprodmov-image-gallery{
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	background-color: #fdfdfd;
	vertical-align:top;
}

.bulkprodmov-product-categories {
	min-height: 42px;
	max-height: 200px;
	width: 100%;
	overflow: auto;
	padding: 0 0.9em;
	background-color: #fff;
}

.bulkprodmov-product-categories ul {
	list-style: none;
	padding: 0;
	margin: 14px 0;
}

.bulkprodmov-product-categories ul ul {
	margin: 10px 0 0 25px;
}

.bulkprodmov-icon-box{
	width: 60px;
    height: 60px;
    text-align: center;
    background: #2271b1;
    color: #fff;
    border-radius: .5rem;
    margin-left: auto;
    line-height: 65px;
}

.ant-statistic-title {
	font-weight: 600;
}

.ant-statistic-content{
	font-weight: 700 !important;
	font-size: 30px !important;
}

.ant-input-wrapper input[type="text"] {
    min-height: 32px !important;
}

// Override WordPress styles
.ant-form-item-control-input-content input[type="text"]:focus,
.ant-form-item-control-input-content input[type="search"]:focus,
.ant-form-item-control-input-content textarea:focus,
.ant-input-wrapper input[type="text"]:focus {
    box-shadow: none !important;
    outline: none !important;
}

.ant-modal-wrap{
   z-index: 10000 !important; 
}
.ant-modal-mask{
   z-index: 10000 !important; 
}

/* Increase Select dropdown z-index globally */
.ant-select-dropdown {
  z-index: 10001 !important;
}